# Configuration FeeXPay
VITE_FEEXPAY_API_KEY=fp_Mzpfp9SkSsuxi5bLkenKykkVrQNpsGxYmim3yc51nDE3VIgHoEAIDoEtrX3r5FYa
VITE_FEEXPAY_MERCHANT_ID=681535f823d328ae65ff37d4
VITE_FEEXPAY_MODE=LIVE
VITE_FEEXPAY_CALLBACK_URL=https://weebhookpaserni.onrender.com

# Configuration Supabase
VITE_SUPABASE_URL=https://erbnlextswbgtzztsxbf.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVyYm5sZXh0c3diZ3R6enRzeGJmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTkyNTI0NTEsImV4cCI6MjA3NDgyODQ1MX0.rM8FAq5xG3-nvsLf5PpiA4h3Jh7jDj7mtteW8RSPL-8

# URL de l'application
VITE_APP_URL=https://www.espacepaserni.org
