# Configuration OneSignal pour les notifications push
VITE_ONESIGNAL_APP_ID=ab687135-df2c-4911-9bc2-002528d7f561

# Configuration FeeXPay
VITE_FEEXPAY_API_KEY=fp_Mzpfp9SkSsuxi5bLkenKykkVrQNpsGxYmim3yc51nDE3VIgHoEAIDoEtrX3r5FYa
VITE_FEEXPAY_MERCHANT_ID=681535f823d328ae65ff37d4
VITE_FEEXPAY_MODE=LIVE
VITE_FEEXPAY_CALLBACK_URL=https://weebhookpaserni.onrender.com

# Configuration Supabase
VITE_SUPABASE_URL=your-supabase-url
VITE_SUPABASE_ANON_KEY=your-supabase-anon-key

# Configuration de l'application
VITE_APP_URL=https://www.espacepaserni.org